@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

body {
  text-align: right;
  background-color: #e0e0e0;
}

.mousechan-images {
  margin: 50px;
}

#body {
  position: absolute;
  top: 200px;
  left: 100px;
}

#tail {
  position: absolute;
  top: 225px;
  left: 350px;
}

#feet {
  position: absolute;
  top: 325px;
  left: 160px;
}

#whisker {
  position: absolute;
  top: 290px;
  left: 85px;
}

#eye {
  position: absolute;
  top: 270px;
  left: 145px;
}

#ear {
  position: absolute;
  top: 170px;
  left: 130px;
}

#bg {
  position: absolute;
  top: 0px;
  left: 0px;
}

#hat {
  position: absolute;
  top: 200px;
  left: 200px;
}
